<!--
Render the avatar (profile picture).

Input arguments:
  The local context (.) refers to an author Page (or dict to resemble one, see
  partials/lookup/term_termpage.html).

The avatar parameters should be defined in the author page front matter or in
site.yaml. If neither are defined, then the first character of `.Title` is
rendered with the default colours from main.css.

The avatar parameter defines a combination of the following fields:
  .image, .initials, .bgcolor, .textcolor

-->{{ with (or .Params.avatar .Site.Params.avatar) }}{{ with .image }}<div class="avatar" style="background-image:url(/img/{{ . }});"></div>{{ else }}<div class="avatar" style="{{ with .bgcolor }}background-color:{{ . }};{{ end }}{{ with .textcolor }}color:{{ . }};{{ end }}"{{ with or .initials (substr $.Title 0 1) }} data-initials="{{ . }}"{{ end }}></div>{{ end }}{{ else }}<div class="avatar" data-initials="{{ substr .Title 0 1 }}"></div>{{ end }}