<!--
Render a list with (social) links.

Input arguments:
  The local context (.) is a structure with links, i.e., `.Params.links`. For a
  definition of that structure see archetypes/author.md.

-->    <ul class="links">{{ range $key, $value := . }}
      <li class="flex">
        <label>{{ $key }}:</label>
        <span><a{{ with $value.rel }} rel="{{ . }}"{{ end }}{{ with $value.link }} href="{{ . }}"{{ end }}>{{ or $value.title $value.link }}</a></span>
      </li>{{ end }}
    </ul>