<!--
Helpless attempt to hide e-mail address with help of CSS and HTML/URL escapes.

Input argument:
  Local context is the email address string.

--><a href="mailto:{{ replace . "@" "%40" }}" class="email">{{ replace . "@" "<span class='x'>---</span><span class='y'>&commat;</span>" | safeHTML }}</a>