<footer class="row footer site-nav-panel">
  <nav class="col">
    <hr><!-- separate content from navigation in non-CSS browsers. -->
    <section class="cell">
      <div class="content">
        <ul class="pages">{{ range .Site.Menus.footer }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>{{ end }}
        </ul>
        <ul class="contact">{{ with .Site.RSSLink }}
          <li>Subscribe <a href="{{ . }}" rel="home" type="application/rss+xml">via RSS</a></li>{{ end }}
          <li>Contact: {{ partial "components/mailto.html" .Site.Params.email }}{{ with .Site.Params.twitter }}
              or <a href="//twitter.com/{{ . }}">&#64;{{ . }}</a>{{ end }}</li>
        </ul>
      </div>
    </section>
  </nav>
</footer>