<!--
The site header renders the feature_image and, for nodes, also .Title.

Furthermore, if the page is a node, we fetch the subtitle from its content page.

-->{{ partial "lookup/feature_image.html" . }}
<header class="row site-header site-nav-panel"{{ with $.Scratch.Get "feature_image" }} style="background-image:url(/img/{{ . }});"{{ end }}>
  <section class="col">{{ if or .IsNode (eq (.Param "pagelayout") "index-page") }}
    <div class="cell">
      <h1{{ if or .IsHome (.Param "ishome") }} class="logo"{{ end }}>{{ .Title }}</h1>
      <p>{{ .Params.subtitle }}</p>
    </div>{{ end }}
  </section>
</header>