<!--
Site navigation
---------------
Toggle the input disabled status to enable/disable site navigation (useful for
debugging). Toggle its checked property to force the menu open or closed on
page load.

A nifty trick is the autocomplete="off". Suppose you open the sitenav and click
a link. You arrive at a new page where the sitenav is closed (obviously). Now
you press the back button to go back to the previous page. Your browser
remembered the state and thus shows the sitenav menu open. Although this is
indeed how you left the page, having the sitenav menu open on arrival is
completely unexpected. Therefore we use autocomplete="off". Your browser won't
remember the checkbox state and will think it is unchecked: sitenav closed :)

-->
<input type="checkbox" id="site-nav-state" class="overlay-content" autocomplete="off">
<nav class="site-nav-screen site-nav-panel">
  <label for="site-nav-state">
    <div class="site-nav-icon"></div>
    <div class="site-nav-menu">
      <ul>{{ $currentNode := . }}{{ range .Site.Menus.main }}{{ if .HasChildren }}
        <li class="sub-menu{{ if $currentNode.HasMenuCurrent "main" . }} active{{ end }}">
          <a><span class="{{ .Pre }}">{{ .Name }}</span><span class="menu-arrow arrow_carrot-right"></span></a>
          <ul class="sub">{{ range .Children }}
            <li{{ if $currentNode.IsMenuCurrent "main" . }} class="active"{{ end }}><a href="{{ .URL }}">{{ .Name }}</a></li>{{ end }}
          </ul>
        </li>{{ else }}
        <li><a href="{{ .URL }}"><span class="{{ .Pre }}">{{ .Name }}</span></a></li>{{ end }}{{ end }}
      </ul>
    </div>
  </label>
</nav>