<!DOCTYPE html>
<html{{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if ne .Title .Site.Title }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}</title>{{ with .Param "description" }}
  <meta name="description" content="{{ . }}">{{ end }}
  <link rel="stylesheet" href="{{ "/css/main.min.css" | relURL }}?time=20170302171442">
  <link rel="apple-touch-icon" href="{{ "/apple-touch-icon.png" | relURL }}">
  <link rel="icon" type="image/png" href="{{ "/android-chrome-icon.png" | relURL }}" sizes="192x192">
  <link rel="icon" type="image/png" href="{{ "/favicon.png" | relURL }}" sizes="16x16">
  <link rel="canonical" href="{{ .Permalink }}">{{ with .RSSLink }}
  <link rel="alternate" href="{{ . }}" type="application/rss+xml" title="{{ $.Site.Title }}">
  <link rel="feed" href="{{ . }}"><!-- WhatWG -->{{ end }}
{{ partial "head_extra.html" . }}</head>
<body class="{{ with .Param "pagelayout" }}{{ . }}{{ else }}index-page{{ end }}{{ if .Params.standalone }} standalone{{ end }}">