<!--

.  Reference to a Page.

-->
  <article class="col article">
    <div class="cell">
      <header class="header">
        <h1>{{ with .Param "pagelayout" }}{{ if ne . "index-page" }}{{ $.Title }}{{ end }}{{ end }}</h1>
      </header>
      <section class="content">
{{ .Content }}{{ with .Params.links }}
{{ partial "components/links.html" . }}{{ end }}
      </section>
    </div>
  </article>