<!--
Render a block with the post date, authors and categories below the post.

Input arguments:
  . is a Page.

-->{{ $authors := .Param "authors" }}<!--
-->
  <footer class="col page-meta{{ with $authors }}{{ if gt (len .) 1 }} center{{ end }}{{ end }}">
    <div class="cell">{{ with $authors }}
      <header class="icons">{{ range $authors }}
        {{ partial "lookup/term_termpage.html" (dict "taxonomy" "authors" "term" . "Dot" $ "partial" "components/avatar.html") }}{{ end }}
      </header>{{ end }}
      <section class="content">
        <div class="posted-main">
          Published <time class="date">{{ dateFormat "2 January 2006" .Date }}</time><br>{{ with $authors }}
          <ul class="comma-separated">
            {{ range $authors }}<!-- li tags must touch.
            --><li>{{ partial "lookup/term_termpage.html" (dict "taxonomy" "authors" "term" . "Dot" $ "partial" "components/link.html") }}</li>{{ end }}
          </ul>{{ end }}{{ with .Params.categories }}
          in {{ partial "lookup/term_termpage.html" (dict "taxonomy" "categories" "term" (index . 0) "Dot" $ "partial" "components/link.html") }}{{ if gt (len .) 1 }}
        </div>
        <div class="posted-cross">
          <p>Cross-posted to</p>
          <ul class="comma-separated">
            {{ range after 1 . }}<!-- li tags must touch.
            --><li>{{ partial "lookup/term_termpage.html" (dict "taxonomy" "categories" "term" . "Dot" $ "partial" "components/link.html") }}</li>{{ end }}
          </ul>{{ end }}{{ end }}
        </div>
      </section>
    </div>
  </footer>