<!--

.Dot                 Reference to root scope (Page or Node)
.Title
.grid = false

.items
.itemTemplate

.allItemsURL

-->{{ $.Dot.Scratch.Add "list_items_count" 1 }}<!--

-->
      <input class="tab-state" type="radio" name="q" id="{{ .Title | urlize }}"{{ if (eq 1 ($.Dot.Scratch.Get "list_items_count")) }} checked{{ end }}>
      <header class="header tab-label">
        <label for="{{ .Title | urlize }}"><h2>{{ .Title }}</h2></label>
      </header>
      <div class="content tab-page{{ if .grid }} grid{{ end }}">{{ range .items }}
{{ .Render $.itemTemplate }}{{ end }}{{ with .allItemsURL }}
        <footer class="viewall"><a href="{{ . }}">view all posts &raquo;</a></footer>{{ end }}
      </div>