        <section class="item">
          <div class="body">
            <a rel="bookmark" href="{{ .RelPermalink }}" class="title"><h3>{{ .Title }}</h3></a>
            <p class="excerpt">{{ delimit (split .Summary " " | first 18) " " }}&hellip;</p>
          </div>
        </section>