<!--
Render the category panel on the front page.

Input arguments:
  The local context (.) refers to a Page. It is the category term page.

-->
        <section class="panel item" style="background-image:url({{ .Site.BaseURL }}img/{{ .Param "feature_image" }});">
          <a rel="tag" href="{{ .RelPermalink }}" class="title"><h3>{{ .Title }}</h3></a>
        </section>