<!--
Render a page as a "full" item in a list of items.

It shows the title, summary (truncated), authors with links, categories with
links, date posted and avatars.

Input arguments:
  The local context (.) refers to a Page.

-->{{ $authors := or (.Param "authors") "" }}<!--
-->{{ $maxavatars := 3 }}<!--
-->{{ $etal := 2 }}<!--
-->{{ $doetal := and (gt $etal 0) (gt (len $authors) $etal) }}<!--
-->        <section class="item">
          <div class="body">
            <a rel="bookmark" href="{{ .RelPermalink }}" class="title"><h3>{{ .Title }}</h3></a>
            <p class="excerpt">{{ delimit (split .Summary " " | first 28) " " }}&hellip;</p>
          </div>
          <div class="meta">{{ with $authors }}
            <ul class="comma-separated">
              {{ if $doetal }}<!-- comments to connect li elements.
              --><li>{{ partial "lookup/term_termpage.html" (dict "taxonomy" "authors" "term" (index . 0) "Dot" $ "partial" "components/link.html") }}</li><!--
              --><li class="etal"><abbr title="{{ delimit (after 1 .) ", " " and " }}">et al.</abbr></li>{{ else }}{{ range . }}<!--
              --><li>{{ partial "lookup/term_termpage.html" (dict "taxonomy" "authors" "term" . "Dot" $ "partial" "components/link.html") }}</li>{{ end }}{{ end }}
            </ul>{{ end }}{{ with .Params.categories }}
            in {{ partial "lookup/term_termpage.html" (dict "taxonomy" "categories" "term" (index . 0) "Dot" $ "partial" "components/link.html") }}{{ end }}{{ with .Date }}
            <i class="link-spacer"></i>
            <i class="fa fa-bookmark"></i>
            <time class="date">{{ dateFormat "2 January 2006" . }}</time>{{ end }}
          </div>{{ with $authors }}
          <div class="icons">{{ range first $maxavatars . }}
            {{ partial "lookup/term_termpage.html" (dict "taxonomy" "authors" "term" . "Dot" $ "partial" "components/avatar.html") }}{{ end }}
          </div>{{ end }}
        </section>