{{ partial "site/open.html" . }}
{{ partial "site/nav.html" . }}
{{ partial "site/header.html" . }}
<!--

single.html   is used for section pages such as posts. The Written theme
introduces a special kind of section page, the taxonomy term page, which is
marked by having a `<taxonomy>: <plural>` and `taxonomy: <taxonomy>`
declaration in the front matter. These pages are also rendered here.

Section pages have an additional property: pagelayout.
- "content-page" means that the page is rendered with the header always at the
top and the title appears in the main section. A content page also includes a
meta section with information about the author(s) and categories.
- "index-page", on the other hand, means that the header appears on the left
(on wide screens) and includes the title. An index page usually includes little
to no content, but mainly presents a set of links to other pages (though, in
contrast to list pages, the number of links presented here should be limited).

regular section page:
  pagelayout: content-page
    - include 5 "related" posts
    - "item-minimal" template
  pagelayout: index-page
    - index.md, special layout:
    - include 4 most recent posts
    - include 3 most popular categories
    - "item-nometa" template
    - "item-panel" template
taxonomy term page:
  - include 5 most recent in taxonomy
  - "item-full" template

-->
<main class="row site-nav-panel"><!--
-->{{ partial "main/content.html" . }}<!--
-->{{ if eq .Section "post" }}<!--
-->{{ partial "main/meta.html" . }}<!--
-->{{ end }}<!--

Taxonomy Term Page (index-page)
-->{{ if .Params.taxonomy }}<!--
-->{{ partial "main/list/open.html" (dict "Dot" $) }}<!--
-->{{ partial "lookup/termpage_posts.html" . }}<!--
-->{{ with $.Scratch.Get "termpage_posts" }}<!--
-->{{ $all := printf "/%s/%s/" $.Params.taxonomy (urlize (index (index $.Params $.Params.taxonomy) 0)) }}<!--
-->{{ partial "main/list/items.html" (dict "Title" "Recent posts" "items" (first 5 .) "itemTemplate" "item-full" "allItemsURL" $all "Dot" $) }}<!--
-->{{ end }}<!--
-->{{ partial "main/list/close.html" }}<!--

Regular Section Page (content-page)
-->{{ else if not .Params.standalone }}<!--
-->{{ partial "main/list/open.html" (dict "class" "small" "Dot" $) }}<!--
-->{{ partial "lookup/page_related.html" . }}<!--
-->{{ with $.Scratch.Get "page_related" }}<!--
-->{{ partial "main/list/items.html" (dict "Title" "Related posts" "items" (first 5 .) "itemTemplate" "item-small" "Dot" $) }}<!--
-->{{ end }}<!--
-->{{ partial "main/list/close.html" }}<!--

end if.
-->{{ end }}
</main>

{{ partial "site/footer.html" . }}
{{ partial "site/close.html" . }}