.aside {
  order: 4;

  h2 {
    font-size: 12px;  // fixed size.
    letter-spacing: 2pt;
    text-transform: uppercase;
  }
  .viewall {
    text-align: right;
  }
}

.item {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  margin: 20px 0px 10px;

  .body {
    flex: 1 calc(100% - 80px);
  }
  .icons {
    flex: 0 80px;
    margin-top: 1em;
    order: 2;
    position: relative;
  }
  .meta {
    flex: 1 100%;
    margin-top: 1.5em;
    padding-bottom: 1.5em;
    order: 3;
  }

  h3 {
    font-size: 1.5em;
    margin: 0.55em 0px 0.45em;
  }
  a.title {
    color: inherit;
  }
  .body p {
    margin: 0px;
  }
}

// small

.aside.small {
  font-size: 0.83333rem;

  .content-page & {
    order: 2;
  }

  .item {
    margin: 0px;

    h3 {
      margin-bottom: 0px;
      margin-top: 1em;
    }
  }
}

// grid (2x2)

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .item {
    flex: 0 calc(50% - 15px);      // 15px = 30px * 1/2
    overflow-x: hidden;
  }
}

// panel items

.item.panel {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  font-size: 0.83333rem;

  a {
    display: block;
    padding-bottom: 150%;
    position: relative;
  }
  h3 {
    bottom: 0px;
    margin-left: 0.45em;
    margin-right: 0.45em;
    position: absolute;
  }
}

// avatars inside items

.aside .avatar {
  position: absolute;
  right: 0px;
  transform-origin: top right;

  &::after {
    font-size: 25px;
    line-height: 52px;
    height: 50px;
    width: 50px;
  }

  &:nth-child(1) {
    z-index: 5;
  }
  &:nth-child(2) {
    transform: translate(10%, -5%) scale(0.91);
    z-index: 4;
  }
  &:nth-child(3) {
    opacity: .3;
    transform: translate(20%, -10%) scale(0.8);
    z-index: 3;
  }
}