.avatar {
  background-color: silver;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;

  &::after {
    content: attr(data-initials);
    display: block;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 60px;
  }
}