.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.col {
  flex: 1 1 100%;
  min-width: 0;
}
.cell {
  margin: 2em auto;
}
.cell > * {
  margin-left: 15px;
  margin-right: 15px;
}

// site header

.site-header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  text-shadow: 0 1px 3px rgba(0,0,0,.3);

  .content-page & {
    height: 150px;
  }

  .col {
    align-items: center;
    display: flex;
  }
  .cell {
    width: 100%;
  }

  h1 {
    font-size: 2.4em;
    letter-spacing: -2pt;
    margin-bottom: 5px;
  }
  p {
    line-height: 1.5;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}

// content

.article .header,
.article .content {
  font-size: 1.125rem;
}

// footers (in general)

.footer {
  font-size: 0.85rem;
}

// site footer

.footer hr {
  border: solid 1px #e9e9e9;
  border-style: none none solid;
  margin-bottom: 0px;
  margin-top: 0px;
  width: auto;
}
.footer ul {
  list-style-position: inside;
  padding-left: 0px;
}

.footer ul.pages {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0px 0px 2.4em;
}
.footer ul.pages li {
  flex: 0 1 auto;
  margin: 0px 1ex;
  white-space: nowrap;
}

//
// MEDIUM WIDTH
// ============
//
@media (min-width: 768px) {

  // content page
  .content-page .cell {
    width: 660px;             // = 630px + side margins
  }

  // index page
  .index-page .cell {
    margin-left: 105px;       // = 120px - side margins
    margin-right: 105px;
  }

  // site header
  .site-header {
    height: 450px;

    .content-page & {
      height: 300px;
    }
  }

  // related content
  .item.panel {
    flex: 0 calc(33.333% - 20px);  // 20px = 30px * 2/3 for three columns
  }
}

//
// WIDE
// ====
//
@media (min-width: 992px) {

  // wide content page
  .content-page {
    .article           { flex: 0 1 730px; }     // 700px + side margins
    .aside             { flex: 0 1 240px; }     // 210px + side margins
    .article .cell,
    .aside .cell       { width: auto; }
    .cell              { width: 970px; }        // article + aside
    &.standalone .cell { width: 730px; }        // article (in absence of .aside)
  }

  // wide index page
  .index-page {
    .row {
      margin-left: 445px;    // = site-header width + 60px - cell>* margin-left
      width: 530px;          // = 992px - 17px (scroll bar) - margin-left
    }
    .site-header {
      height: 100%;
      left: 0px;
      margin-left: 0px;
      padding-left: 15px;
      padding-right: 15px;
      position: fixed;
      top: 0px;
      width: 400px;
    }
    .cell {
      margin-left: 0px;
      margin-right: 0px;
    }
    hr {
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  // site header
  .site-header .col {
    align-items: flex-end;
  }
}

//
// EXTRA WIDE
// ==========
//
@media (min-width: 1200px) {
  // wide content page
  // wide index page
  .index-page {
    .row {
      margin-left: 510px;  // = site-header width + 60px - .cell>* margin-left
      width: 670px;        // = 1200px - 20px (scroll bar) - margin-left
    }
    .site-header {
      margin-left: 0px;
      width: 465px;
    }
  }
}