// Feel free to adapt the below CSS to your likings.

body {
  color:              $color-xdark;
  font-family:        $font-stack-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family:        $font-stack-sans;
  font-weight:        700;
}

a {
  color:              $color-dark;
  text-decoration:    none;
}
a:focus,
a:hover {
  border-bottom:      $thin $color-dark;
  color:              $color-xdark;
}

header a, header a:focus, header a:hover,
h1 a, h1 a:focus, h1 a:hover,
h2 a, h2 a:focus, h2 a:hover,
h3 a, h3 a:focus, h3 a:hover,
h4 a, h4 a:focus, h4 a:hover,
h5 a, h5 a:focus, h5 a:hover,
h6 a, h6 a:focus, h6 a:hover {
  border-bottom:      none;
  color:              inherit;
}

// add indicator icons to external links

a::after {
  color:              $color-light;
  font:               normal normal normal 14px/1 FontAwesome;
  padding:            0px 0.3ex;
}
a:hover::after,
a:focus::after {
  color:              inherit;
}

a[href^="http://"]:not([href*="c9users.io"])::after,
a[href^="https://"]:not([href*="c9users.io"])::after,
a[href^="//"]:not([href*="c9users.io"])::after {
  content: " \f08e";  // fa-external-link: f08e, fa-external-link-square: f14c
}

a[type="application/rss+xml"]::after {
  content: " \f09e";  // fa-rss: f09e, fa-rss-square: f143
}

a[href^="mailto:"]::after {
  content: " \f003";  // fa-envelope: f0e0, fa-envelope-o: f003
}

// site header

.site-header {
  background-color:   $color-header-bg;
  color:              $black;
}
.site-header p {
  border-bottom:      $thin $color-semidark;
}

// site footer

.site-footer {
  border-top:         $thin $color-xlight;
}

// page content (and extras)

.links {
  font-family:        $font-stack-sans;
}

// page meta information (author, date, etc)

.page-meta {
  background-color:   $color-xxlight;
  border-top:         $thin $color-xlight;
  font-family:        $font-stack-sans;
}
.page-meta .posted-cross a {
  font-family:        $font-stack-serif;
  font-style:         italic;
  text-transform:     none;
  letter-spacing:     0px;
}
.page-meta .date {
  border-bottom:      $thin $color-xdark;
}

// lists linking to posts (related content)

.aside header {
  border-bottom:      $thin $color-light;
  border-top:         $thin $color-light;
  color:              $color-medium;
}

.aside .viewall {
  font-family:        $font-stack-sans;
  font-variant:       small-caps;
  font-weight:        700;
}
.aside .viewall a {
  border-bottom:      none;
  color:              $color-xdark;
}

.item a.title:hover {
  border-bottom:      none;
}
.item .meta {
  border-bottom:      $thin $color-xxlight;
  color:              $color-medium;
}
.item .meta a {
  color:              $color-medium;
}
.item .meta a:hover {
  color:              $color-xdark;
}

.panel {
  background-color:   $color-xlight;
}

// site navigation

.site-nav-menu {
  background-color:   $color-xdark;
  color:              $color-light;
  font-family:        $font-stack-sans;
  font-weight:        700;
}
.site-nav-menu a {
  border-bottom:      none;
  color:              inherit;
}
.site-nav-menu a:hover {
  color:              $white;
}

// various

.avatar {
  font-family:        $font-stack-serif;
}

// ============================================================================

// Font for logo.

.logo {
  font-family:        'Marcellus SC', 'Source Sans Pro', Helvetica, Arial, sans-serif !important;
  font-weight:        bold !important;
  letter-spacing:     0px !important;
}

// Board

figure.member {
  a::after {
    content:          none !important;
  }
  img {
    float:            left;
    height:           150px;
    margin-right:     2em;
    width:            120px;
  }
  figcaption {
    padding-top:      0.5em;
  }
  figcaption h4 {
    margin-top:       0;
  }
}

.clearfix {
  clear:              both;
}
.right {
  text-align:         center;
}
.right img {
  width:              200px;
}
@media (min-width: 768px) {
  .right {
    clear:            right;
    float:            right;
  }
}
