/* style base form elements */

form {
  font-family:        $font-stack-sans;
  font-size:          1rem;
}
fieldset {
  border:             none;
}
label {
  cursor:             default;
  display:            inline-block;
  max-width:          100%;
  margin-bottom:      5px;
  font-weight:        700;
}
button,
input,
optgroup,
select,
textarea {
  color:              inherit;
}

/* form group (contains roughly one field) */

.form-group {
  margin-bottom:      15px;
}

/* form control (is the input element) */

.form-control {
  display:            block;
  width:              100%;
  height:             34px;
  padding:            6px 12px;
  font-size:          14px;
  line-height:        1.42;
  color:              $color-dark;
  background-color:   $white;
  background-image:   none;
  border:             1px solid $color-light;
  border-radius:      4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow:         inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition:      border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition:         border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
textarea.form-control {
  height:             auto;
}

/* radios and checkboxes */

.checkbox,
.radio {
  position:           relative;
  display:            block;
  margin-top:         10px;
  margin-bottom:      10px;
}
.checkbox+.checkbox,
.radio+.radio {
  margin-top:         -5px;
}
.checkbox label,
.radio label {
  min-height:         20px;
  padding-left:       20px;
  margin-bottom:      0;
  font-weight:        400;
  cursor:             pointer;
}
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
  position:           absolute;
  margin-top:         4px\9;  // weird trick.
  margin-left:        -20px;
}
input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
  margin:             4px 0 0;
  margin-top:         1px\9;
  line-height:        normal;
  padding:            0;
}
