.highlight {
  background-color: #f0f0f0;
  box-shadow: 0px 5px 10px -3px black;
  font-size: 1rem;
  line-height: 1.5;
  padding: 5px;

  & > * {
    border: solid 5px white;
    margin: 0px;
    padding: 5px;
  }

  .c { color: #60a0b0; font-style: italic }     // Comment
  .err { border: 1px solid #FF0000 }            // Error
  .k { color: #007020; font-weight: bold }      // Keyword
  .o { color: #666666 }                         // Operator
  .ch { color: #60a0b0; font-style: italic }    // Comment.Hashbang
  .cm { color: #60a0b0; font-style: italic }    // Comment.Multiline
  .cp { color: #007020 }                        // Comment.Preproc
  .cpf { color: #60a0b0; font-style: italic }   // Comment.PreprocFile
  .c1 { color: #60a0b0; font-style: italic }    // Comment.Single
  .cs { color: #60a0b0; background-color: #fff0f0 } // Comment.Special
  .gd { color: #A00000 }                        // Generic.Deleted
  .ge { font-style: italic }                    // Generic.Emph
  .gr { color: #FF0000 }                        // Generic.Error
  .gh { color: #000080; font-weight: bold }     // Generic.Heading
  .gi { color: #00A000 }                        // Generic.Inserted
  .go { color: #888888 }                        // Generic.Output
  .gp { color: #c65d09; font-weight: bold }     // Generic.Prompt
  .gs { font-weight: bold }                     // Generic.Strong
  .gu { color: #800080; font-weight: bold }     // Generic.Subheading
  .gt { color: #0044DD }                        // Generic.Traceback
  .kc { color: #007020; font-weight: bold }     // Keyword.Constant
  .kd { color: #007020; font-weight: bold }     // Keyword.Declaration
  .kn { color: #007020; font-weight: bold }     // Keyword.Namespace
  .kp { color: #007020 }                        // Keyword.Pseudo
  .kr { color: #007020; font-weight: bold }     // Keyword.Reserved
  .kt { color: #902000 }                        // Keyword.Type
  .m { color: #40a070 }                         // Literal.Number
  .s { color: #4070a0 }                         // Literal.String
  .na { color: #4070a0 }                        // Name.Attribute
  .nb { color: #007020 }                        // Name.Builtin
  .nc { color: #0e84b5; font-weight: bold }     // Name.Class
  .no { color: #60add5 }                        // Name.Constant
  .nd { color: #555555; font-weight: bold }     // Name.Decorator
  .ni { color: #d55537; font-weight: bold }     // Name.Entity
  .ne { color: #007020 }                        // Name.Exception
  .nf { color: #06287e }                        // Name.Function
  .nl { color: #002070; font-weight: bold }     // Name.Label
  .nn { color: #0e84b5; font-weight: bold }     // Name.Namespace
  .nt { color: #062873; font-weight: bold }     // Name.Tag
  .nv { color: #bb60d5 }                        // Name.Variable
  .ow { color: #007020; font-weight: bold }     // Operator.Word
  .w { color: #bbbbbb }                         // Text.Whitespace
  .mb { color: #40a070 }                        // Literal.Number.Bin
  .mf { color: #40a070 }                        // Literal.Number.Float
  .mh { color: #40a070 }                        // Literal.Number.Hex
  .mi { color: #40a070 }                        // Literal.Number.Integer
  .mo { color: #40a070 }                        // Literal.Number.Oct
  .sb { color: #4070a0 }                        // Literal.String.Backtick
  .sc { color: #4070a0 }                        // Literal.String.Char
  .sd { color: #4070a0; font-style: italic }    // Literal.String.Doc
  .s2 { color: #4070a0 }                        // Literal.String.Double
  .se { color: #4070a0; font-weight: bold }     // Literal.String.Escape
  .sh { color: #4070a0 }                        // Literal.String.Heredoc
  .si { color: #70a0d0; font-style: italic }    // Literal.String.Interpol
  .sx { color: #c65d09 }                        // Literal.String.Other
  .sr { color: #235388 }                        // Literal.String.Regex
  .s1 { color: #4070a0 }                        // Literal.String.Single
  .ss { color: #517918 }                        // Literal.String.Symbol
  .bp { color: #007020 }                        // Name.Builtin.Pseudo
  .vc { color: #bb60d5 }                        // Name.Variable.Class
  .vg { color: #bb60d5 }                        // Name.Variable.Global
  .vi { color: #bb60d5 }                        // Name.Variable.Instance
  .il { color: #40a070 }                        // Literal.Number.Integer.Long
}