.page-meta {
  font-size: 0.85rem;
  letter-spacing: 0.3ex;
  line-height: 2.4;
  order: 3;
  text-transform: uppercase;

  .cell {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0px 15px;
  }

  // .center = when a post has multiple authors

  &.center {
    .cell {
      flex-flow: row wrap;
      justify-content: center;
      text-align: center;
    }
    .icons {
      flex: 1 100%;
      margin-bottom: 1.5em;
    }
    .icons > * {
      margin: 0 5px;
    }
  }

  // second line with categories

  .posted-cross {
    margin-top: 1em;

    p {
      display: inline;
    }
  }
}