*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  line-height: 1.65;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
body {
  overflow-x: hidden;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
}

form {
  line-height: 1.42;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

abbr {
  cursor: help;
}