/* layout */

#site-nav-state {
  left: 15px;
  opacity: 0;
  position: fixed;
  top: 15px;
}
.site-nav-screen {
  display: block;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 250px;
}
.site-nav-screen > label {
  display: block;
  height: 100%;
  width: 100%;
}
.site-nav-menu {
  display: block;
  height: 100%;
  left: 0px;
  top: 0px;
  width: 250px;
}
.site-nav-icon {
  background: #333 url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40'><rect x='6' y='8' width='28' height='5' fill='white' /><rect x='6' y='18' width='28' height='5' fill='white' /><rect x='6' y='28' width='28' height='5' fill='white' /></svg>");
  display: block;
  height: 40px;
  left: 265px;
  position: absolute;
  top: 15px;
  width: 40px;
}

/* z-index */

.site-nav-panel {
  z-index: 1;
}
.site-nav-panel.site-nav-screen {
  z-index: 2;
}

/* interaction */

.site-nav-screen {
  left: -250px;
}
.site-nav-panel {
      -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

#site-nav-state.overlay-content:checked ~ .site-nav-screen {
  background-color: rgba(255, 255, 255, 0.5);
  width: 200%;
}
#site-nav-state:checked,
#site-nav-state:checked ~ .site-nav-panel {
      -ms-transform: translateX(250px);
  -webkit-transform: translateX(250px);
          transform: translateX(250px);
}

#site-nav-state:disabled,
#site-nav-state:disabled ~ .site-nav-screen {
  display: none;
}

.site-nav-icon {
  opacity: 0.15;
  transition: opacity 0.2s ease;
}
#site-nav-state:focus ~ .site-nav-screen .site-nav-icon,
.site-nav-icon:focus,
.site-nav-icon:hover {
  opacity: 0.5;
}

/* animation */

.site-nav-panel {
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease, transform 0.3s ease;
          transition: background-color 0.3s ease, -ms-transform 0.3s ease, -webkit-transform 0.3s ease, transform 0.3s ease;
}

/* decor */

#site-nav-state.overlay-content ~ .site-nav-screen {
  background-color: rgba(255, 255, 255, 0);
}
@media (min-width: 992px) {
  #site-nav-state:checked ~ .site-nav-panel:not(.site-nav-screen) {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  .site-nav-panel {
    -webkit-transition: background-color 0.3s ease, -webkit-filter 0s 0.15s linear, filter 0s 0.15s linear, -webkit-transform 0.3s 0s ease, transform 0.3s 0s ease;
            transition: background-color 0.3s ease, -webkit-filter 0s 0.15s linear, filter 0s 0.15s linear, -ms-transform 0.3s 0s ease, -webkit-transform 0.3s 0s ease, transform 0.3s 0s ease;
  }
}

/* general site nav menu styling */

.site-nav-menu {
  box-shadow: inset -12px 0px 10px -10px #000;
  font-size: 0.75rem;
}
.site-nav-menu ul {
  list-style-type: none;
  margin: 0px 0px 2em;
  padding: 2em 0px 0px;
}
.site-nav-menu li {
  margin-bottom: 2em;
}
.site-nav-menu i {
  padding: 0px 20px;
}
.site-nav-menu span::before {
  font: normal normal normal 14px/1 FontAwesome;
  margin: 0px 20px;
}