.tabbed {
  display: flex;
  flex-flow: row wrap;
}

.tabbed .tab-state {
  opacity: 0;/* set to 1 to see how tabs work */
  order: 2;
}
.tabbed .tab-state:not(:checked) + .tab-label + .tab-page {
  display: none;
}

.tabbed .tab-page {
  border-top: silver 1px solid;
  margin-top: -1px;
  order: 3;
  width: 100%;
  z-index: 10;
}

.tabbed .tab-label {
  background-color: transparent;
  border: 1px solid transparent;
  color: #b6b6b6;
  margin-right: 0px;
  order: 1;
  z-index: 11;
}
.tabbed .tab-label label {
  cursor: pointer;
}
.tabbed .tab-label h2 {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2pt;
  line-height: 29px;
  margin: 0px;
  padding: 0px 10px;
  text-transform: uppercase;
}

/* without tabbed view, remove radio buttons completely. */

.cell:not(.tabbed) > .tab-state {
  display: none;
}

/* visualise state. */

.tabbed .tab-state:checked + .tab-label {
  color: #333337;
  border-bottom: 2px solid black;
}

/* seamless keyboard navigation. */

.tabbed .tab-state:focus + .tab-label {
  border-left: 1px dotted gray;
  border-right: 1px dotted gray;
  border-top: 1px dotted gray;
}
.tabbed .tab-state:disabled + .tab-label {
  color: #f0f0f0;
}
.tabbed .tab-state:disabled + .tab-label label {
  cursor: default;
}

/* UI styling */

.tab-page {
  /* in case of multiple tab pages within cell. */
  /* otherwise coincides with .cell. */
  margin-bottom: 2em;
}