/* figures and captions */

figure img {
  max-width: 100%;
}
figure figcaption {
  text-align: center;
}

/* a list of labels with values, values possibly point to URI's */

.links {
  font-size: 0.75em;
  letter-spacing: 0.3ex;
  line-height: 2.4;
  list-style-type: none;
  margin-top: 50px;
  padding: 0px;
  text-transform: uppercase;
}
.links label {
  flex: 0 0 20ex;
}
.links span {
  flex: 1 1 20ex;
}

/* A dot as a separator */

.link-spacer::before {
  content: " \00b7 ";
  margin: 0px .3ex;
}

/* comma-separated inline lists */

ul.comma-separated {
  display: inline;
  list-style: none;
  padding-left: 0px;
}
ul.comma-separated li {
  display: inline;
}
ul.comma-separated li:nth-child(n+1)::before {
  content: ", ";
}
ul.comma-separated li:last-child:not(.etal)::before {
  content: " and ";
}
ul.comma-separated li:first-child::before {
  content: none !important;  /* because this rule is less specific than "and" */
}

/* when you don't want something to show */

.hide {
  display: none;
}

/* helpless e-mail address obfuscation */

.email .x {
  display: none;
}