$font-stack-sans:     "Source Sans Pro", Helvetica, Arial, sans-serif;
$font-stack-serif:    "Droid Serif", serif;

$color-xdark:         #333337;
$color-dark:          #999999;
$color-medium:        #b6b6b6;  // #b3b3b7;
$color-light:         #dddddd;
$color-xlight:        #e9e9e9;
$color-xxlight:       #f5f5f5;
$black:               black;
$white:               white;

$color-header-bg:     #619d51;
$color-semidark:      rgba(0,0,0,.3);

$thin:                1px solid;