{{ partial "site/open.html" . }}
{{ partial "site/nav.html" . }}
{{ partial "site/header.html" . }}

<main class="main site-nav-panel flex">
  <header class="content-header column block flex">
    <h1>404: Page not found</h1>
  </header>
  <section class="content column">
    <p>Sorry, we've misplaced that URL or it's pointing to something that doesn't exist. <a href="{{ .Site.BaseURL }}">Head back home</a> to try finding it again.</p>
  </section>
</main>

{{ partial "site/footer.html" . }}
{{ partial "site/close.html" . }}